:root {
    /* Subtle (nice for backgrounds) */
    --purple-gradient: linear-gradient(
            90deg,
            #6D28D9 0%,
            #8B5CF6 100%
    );
    
    --primary-background: #7C42E7;
}